@{
    ViewData["Title"] = "About";
}

<div id="top" class="container-fluid border-bottom border-3">
    <div class="row">
        <div class="col-12 text-center">


            <h1 class="mt-5 fw-bolder rad bg-black">ASP.NET Core MVC</h1>
            <p class="fs-4 fst-italic">
                I’m glad you have taken the next step in  exploring my application! In this section, I’ll be presenting two 
                YouTube videos which covers the evolution of the .NET framework, benefits of choosing the ASP.NET Core MVC framework, developing enterprise 
                level web applications using ASP.NET Core MVC, and the various tasks that ASP.NET applications 
                can perform. Let's dive into it!
            </p>

        </div>
    </div>
</div>


<div class="container-fluid borderadjust border-bottom border-light border-3 bg-black shadow-lg pt-4">

    <!--First section starts here-->
    <div class="col-12 text-center">
        <h2 class="fw-bolder bg-black rad text-light fst-italic">Evolution of ASP.NET Core MVC</h2>
        <p class="text-light fs-5">
            ASP.NET Core MVC is a vast framework that uses a combination of various
            languages such as Html to lay the general foundation of the web page,
            C sharp, LINQ (Language Integrated Query) to interact with the database,
            and JavaScript for page interactivity. The .Net framework in general as undergone
            numerous changes throughout the years before it evolved into what we know as ASP.NET Core MVC.
            In 2016, The .NET core framework was brought about by the need for rapid execution from the compiler.
            Along with this change, backward compatibility became obsolete even though .NET core supports the same languages.
            The changes and various updates to ASP.NET Core MVC were a result of the need to adapt to current technology,
            and the needs of both consumers and corporate enterprises.
        </p>

    </div>

    <section class="container1">

    <iframe class="adjusted-iframe" src="https://www.youtube.com/embed/DZhoL55kWac?si=jg2czLEWs9jaAGf3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    </section>
    <div class="text-center pt-4 pb-4">
        <img src="~/images/Reca_Red_TP.png" class="img-fluid img-display imageadjusment" alt="The Reca Logo" />
    </div>
    </div>

 <!--Second section starts here-->
<div class="container-fluid borderadjust bg-black shadow-lg pt-4">
 
    <div class="col-12 text-center">
        <h2 class="fw-bolder bg-black rad text-light fst-italic">Why Choose ASP.NET Core MVC?</h2>
        <p class="text-light fs-5">
            Though ASP.Net can be difficult to master, the rewards and benefits of learning 
            this framework are well worth the challenge. Many enterprise companies use ASP. NET 
            applications for their ever-expanding business needs. You do need to possess a working
            knowledge of HTML, and JavaScript to be able to work with the ASP.NET framework. I would
            also recommend that you have a good working knowledge of SQL as ASP.NET works wonders with
            handling database interactivity. Another major plus for ASP.NET Core MVC developers is the competive salary 
            with the average base salary at <b>$137,615</b> in the state of North Carolina.
            With ASP.NET there is no end to the possibilities for exciting career opportunies!<br />
      
            <h4 class="text-light rad"><i>Companies that use ASP.NET web applications:</i></h4><br/>


            <div class="container text-light fs-5">
                    <div class="row gx-2">
                
                        <div class="col-md-6">
                            <ul class="list-unstyled">
                                <li>Bank of America</li>
                                <li>JPMorgan Chase</li>
                                <li>Intersystems</li>
                                <li>McDonalds Global Technology</li>
               
                            </ul>
                        </div>

                    
                        <div class="col-md-6">
                            <ul class="list-unstyled">
                                <li>Liberty Mutual Health Insurance</li>
                                <li>Boeing</li>
                                <li>Truist</li>
                                <li>Stack Overflow</li>
                              
                            </ul>
                        </div>
                    </div>
                </div>
            </p>      
    </div>

    <!--End of second section-->

    <div class="container1">
        <iframe class="adjusted-iframe" src="https://www.youtube.com/embed/0nf7Aw-wV84?si=HAqZx31cnur2B9Lb" allowfullscreen></iframe>
    </div>

    <div class="text-center text-light border-top border-3 fs-5 fst-italic pt-5 pb-5">
        Check out more information for ASP.NET developer salary ranges at  <a class="attribution" href="https://www.indeed.com/career/.net-developer/salaries/NC" target="_blank">www.indeed.com</a>,
        and be sure to have a look at <a class="attribution" href="https://builtin.com/companies/tech/asp-net-companies" target="_blank">www.builtin.com</a> for ASP.NET career opportunities!
    </div>

    <div class="text-center pt-4 pb-5">
        <img src="~/images/Reca_Red_TP.png" class="img-fluid img-display imageadjusment" alt="The Reca Logo" />
    </div>

    <a class="btn btn-lg btn-dark fst-italic" href="#top">
        Back to top
    </a>

</div>

   







        
 










