@model ContactModel

@{
    ViewData["Title"] = "Contact";
}

@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<div class="container text-center">
    
    <h1 class="fw-bolder rad text-light mt-5 bg-black">Feel Free to Reach out!</h1>
   
    <div class="row">
       
        <!--Personal info section-->
        <div class="col-md-6 fs-5">
           
            <ul class="list-group">
                <li class="list-group-item">Email: wbbowens@my.waketech.edu</li>
                <li class="list-group-item">Telephone Number: (123) 456-7890</li>
                <li class="list-group-item">Street Address: 9101 Fayetteville Rd, Raleigh, NC 27603</li>
            </ul>
            <img src="~/images/Reca_Red_Blk_TX_TP - Copy3.png" alt="Image of the Reca logo" class="img-fluid mb-3 rad">
        </div>

        
        <div class="col-md-6">
            <div style="position: relative; padding-bottom: 75%; height: 0;">
                <iframe class="rad" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3242.0593158706597!2d-78.7040119!3d35.6509102!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89ac8bd3143b0f53%3A0x6db3d71094436c7f!2sWake%20Technical%20Community%20College%2C%209101%20Fayetteville%20Rd%2C%20Raleigh%2C%20NC%2027603!5e0!3m2!1sen!2sus!4v1699825299622!5m2!1sen!2sus" style="border:0; position: absolute; top: 0; left: 0; width: 100%; height: 100%;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>


<!--Contact form section-->

    <div class="container pt-5 bg-black rad">
        <div class="text-center">

       
            <h3 class="text-light fst-italic pb-4">
                Please provide some basic contact information along with a brief message about your
                experience using this application. Look Forward to hearing from you!
            </h3>


           

            <section id="contact">
                <div class="container">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                       <form asp-action="SubmitContact" method="post">
                    
                        <div class="row align-items-stretch mb-5">
                            <div class="col-md-6">
                                <div class="form-group">
                                
                                  
                                    <input class="form-control" asp-for="Name" type="text" placeholder="Your Name *" />
                                     <span asp-validation-for="Name" class="text-danger fs-4"></span>
                                    
                                    
                                </div>
                                <div class="form-group">
                                    
                                    <input class="form-control" asp-for="Email" type="text" placeholder="Email *" />
                                    <span asp-validation-for="Email" class="text-danger fs-4"></span>



                                </div>
                                <div class="form-group mb-md-0">
                                  

                                    <input class="form-control" asp-for="Number" type="text" placeholder="Telephone Number *" />
                                    <span asp-validation-for="Number" class="text-danger fs-4"></span>


                               
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-group-textarea mb-md-0">
                                   
                                    <textarea class="form-control" id="message" placeholder="Your Message * 'Optional'" data-sb-validations="required"></textarea>
                                    
                                </div>
                            </div>
                           

                        </div>

                    <button type="submit" class="btn btn-lg btn-dark fst-italic" id="submitButton">Submit</button>
                    </form>
                </div>
              </section>
           
           
      
        </div>
    </div>





